.headerNavbar {
    max-height: 50px;
    color: whitesmoke;
    font-size: 1rem;
    /*position: absolute;*/
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    transition: all 1s ease-in-out;
}

.headerNavbarName {
    font-size: 1.3776em;
}

.navbarAttributes {
    transition: all 1s ease-in-out;
}

.navbarAttributes:hover {
    transition: .2s;
    background: darkslategrey;
    font-family: "Comic Sans MS", serif;
    border-radius: 10px;
    padding: 4px;
}